<div class="transaction-card">
  <p class="addition-icon">+</p>
  <p>Transfer In: <span style="font-weight: bold">£<%= sprintf('%.2f', (transaction.transactable.amount.to_f / 100)) %></span></p>
  <p class="card-details">From user: <span style="font-weight: bold"><%= transaction.transactable.transfer.account_from_email %></span></p> 
  <p class="card-details">
    On: <span style="font-weight: bold"><%= transaction.created_at.to_date %></span>
  </p>
</div>